body {
  text-align: center;
  background-color: #fff8e5;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 4rem;
  margin: 2% 0 3%;
  color: #ffb344;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}
.row {
  justify-content: space-evenly;
}
.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.how-to {
  color: #00a19d;
  padding: 2% 7% 0;
}
.how-to-logo {
  color: #ffb344;
}
.start {
  background-color: #b1d7b4;
  padding: 1% 3%;
  border-style: solid;
  border-radius: 25px;
  margin-bottom: 20px;
}
footer {
  color: #000000;
  background-color: #fff8e5;
  font-family: sans-serif;
  margin: 5% 0 0 0;
  padding: 2% 0 1%;
  text-align: center;
}

.fa-brands {
  color: rgb(0, 0, 0);
  margin: 20px 10px;
}
.fa-award {
  margin-top: 30px;
}
